body {
  padding-top: 60px;
}
.middle{
	margin:0 auto ;
	float: none;
}
#desc div{
	margin-bottom: 10px;
}

.item-brief{
	text-indent: 2em;
}
.col-lg-11 button{
	margin: 3px;
}
button>a{
	color: rgb(51, 51, 51);
	text-decoration: none;
}